RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^home/?$    index.php    [NC,L]
RewriteRule    ^about/?$    about.php    [NC,L]
RewriteRule    ^vision/?$    vision-mission.php    [NC,L]
RewriteRule    ^structure/?$    structure.php    [NC,L]
RewriteRule    ^values/?$    services.php    [NC,L]
RewriteRule    ^contact/?$    contact.php    [NC,L]
RewriteRule    ^allproject/?$    portfolio.php    [NC,L]
RewriteRule    ^legality/?$    legality.php    [NC,L]
